@charset "UTF-8";

/* tappyすべてのwebページに適用される */
html {
	font-family: sans-serif;
}

body {
	background-color: #fffacd;
	color: #8c372b;
	margin:  0 auto;
}

.wrapper{
	margin: 0 auto 0 auto;
	max-width: 900px;
}

h1 {
	color: #b30f00;
	font-size: 22px;
	border-bottom: 3px dotted #b30f00;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	/*	background-color:  #fffacd;*/
	width: 500px;
}

h2 {
	color: #b30f00;
	font-size: 18px;
	border-bottom: 3px dotted #b30f00;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	/*	background-color: #f5eee6; */
	width: 500px;
}

/*item.jsp*/
.menu-item{
	display: flex;
	border-bottom: 1px dashed #bec2c7;
	padding: 20px 8px;
}
.menu-photo{
	margin-right:16px;
}

html * {
	box-sizing: border-box;
}

.error {
	color: #ff0000;
}
